.table_container{
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid #000;
    width: 97%;

    & .table{
        margin-left: auto;
        margin-right: auto;
        direction: rtl;
        width: 90%;

        & th{
            border-bottom: 1px solid #000;
            border-left: 1px solid rgb(221, 220, 220);
            padding: 5px;
            color: rgb(11, 6, 90);
            padding-top: 30px;

            &:nth-child(3) {
                border-left:none;
            }
        }
        
        & td{
            border-left: 1px solid rgb(221, 220, 220);
            padding: 10px 0;

            &:nth-child(3) {
                border:none;
            }
        }
    }
}

  
.down_arrow_icon{
    margin-right:5px;
    font-size: .9rem;
}

.searchBar{
    background: rgb(5,14,23);
    background: radial-gradient(circle at center,#3a71e0 0,#2b3fb4,#273baf 100%);
    height: 50px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -25px;
    left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    & .searchInput{
        direction: rtl;
        float:right;
        position: relative;

    & input{
            background-color: #2b3fb4;
            color: white;
            border-style:none none solid none ;
            border-color: #eee;
        
            &::placeholder{
                color: #eee;
            }
        
            &:focus{
                outline: none;
            }
        }
    }
}

.itemsCounter{
    float:left;
}

.clear{
    clear: both;
}

.icon {
    height: 1.8rem;
    width: 1.8rem;
    color: #eee;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:0px;
    transform: translateY(-50%);
}

.tableFooter{
    padding: 5px 10px 0 5px;
    border-top: 1px solid #000;
}

.paginateContainer{
    height: 30px;
}

.paginationList{
    border-radius: 0px;
    & a{
        color: rgb(114, 108, 108);
        font-weight: bold;
        padding-top: 2px ;
        padding-bottom: 2px ;
    }

    & .active{
        background: radial-gradient(circle at center,#444446 0,#1c33b5,#273baf 100%);
        color: #eee;
    }
}

.selectItems{
    padding-bottom: 3px;
    
    & select:focus{
        outline: none;
    }
}

.selected{
    background: radial-gradient(circle at center,#3a71e0 0,#2b3fb4,#273baf 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #eee;
    font-weight: bold;
}

